body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 2em; /* width of the entire scrollbar */
}

/* body::-webkit-scrollbar-button {
  height: 40px;
} */

body::-webkit-scrollbar-track {
  background: #181818; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #746c6c; /* creates padding around scroll thumb */
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background: #333;
  z-index: 33;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.begin {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: 20px;
  margin-left: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 80rem;
}

input {
  height: 43px;
  width: 35rem;
  background-color: #181818;
  border: 2.5px solid rgb(32, 30, 30);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 7rem;
}

button {
  box-sizing: border-box;
  height: 50px;
  width: 3.5rem;
  background: hsl(0, 0%, 18.82%);
  border: 2.5px solid rgb(32, 30, 30);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(32, 30, 30);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.mic {
  margin-left: 5px;
}

.end-icons {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.fa-microphone,
.fa-video-slash,
.fa-bell {
  color: azure;
  font-size: 18px;
}

.fas {
  color: azure;
}

.body-content {
  background: #181818;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.micro-vid {
  margin-top: 50px;
}

.right {
  margin-top: 50px;
  border: 1px solid wheat;
  border-radius: 5px;
  width: 30rem;
  height: 70%;
}

.title-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  border-bottom: 1px solid #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  margin-left: 10px;
}

.playlist-scroll {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.playlist-scroll::-webkit-scrollbar {
  width: 1em;
  height: 2em;
}

.playlist-scroll::-webkit-scrollbar-button {
  height: 10px;
}

.playlist-scroll::-webkit-scrollbar-track {
  background: #181818; /* color of the tracking area */
}

.playlist-scroll::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #746c6c; /* creates padding around scroll thumb */
}

.vid-0 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px 10px 30px;
}

span {
  font-size: 14px;
  font-weight: 300;
}

.close-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  gap: 15px;
  font-size: 21px;
  color: white;
}

.btn {
  color: wheat;
  display: flex;
  align-items: center;
}

h4 {
  border: 1.5px solid wheat;
  margin-right: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 1s ease;
}

h4:hover {
  background-color: #3a3838;
}
